/* base */
body{ font-size: 10pt; margin: 0; padding: 0; font-family: Lucida Grande, Arial, Verdana, Helvetica, sans-serif; line-height: 2em;color: #666;background: url(/img/light_texture.jpg) repeat;}
div {margin: 0; padding: 0;}
.container {display:block;}

/* burnt compressed and modified */
h1 {font-family: Lucida Grande, Arial, Verdana, Helvetica, sans-serif;font-size:16px;line-height: 1em;font-weight: 900;}
#container {width: 800px;margin: 0 auto;}
h2 {color: #CCC;margin-bottom:2em;}
.text {width: 350px;padding-top: 20px;background: url(/img/dot.gif) right top repeat-y;padding-right: 20px;margin-right: 20px;}
#infinitum {float: right;width: 150px;padding-top: 20px;background: url(/img/dot.gif) right top repeat-y;padding-left: 20px;}
#mightylinks {padding-top: 20px;float: right;width: 150px;background: url(/img/dot.gif) right top repeat-y;padding-right: 20px;}
a {color: #CC6600;}
a:hover {color: #999;}
li {margin-bottom: 2em;}
form {height: 15px;}
input {border: 1px solid #CCC;background-color:#FFFFFF;font-size: 11px;padding: 1.5px;color: #666;}


/* header */
#header{position:relative;height:77px;background:url(/img/bg_header.gif) repeat-x;}	
#header h1 {position:absolute;top:24px;}
.inner{	margin:0 auto;width:908px;text-align:left;position:relative;}

/* navigation */
#nav, #nav ul, #nav li{margin:0;padding:0;list-style:none;}
#nav{position:absolute;right:0;top:24px;}
#nav li, #nav li a{float:left;display:inline;position:relative;line-height:22px;height:22px;}
#nav li a{color:#fff;padding:0 15px;margin-right:1px;}
#nav li.selected a, #nav li a:hover, #nav li a.over{background:#1a1a18;-webkit-border-radius: 3px;-moz-border-radius: 3px;}
#nav ul{position:absolute;left:0;top:22px;padding:10px 20px;width:200px;background:#1a1a18;-webkit-border-radius: 3px;-moz-border-radius: 3px;display:none;z-index:1000;}
#nav ul li{float:none;display:block;}
#nav ul li a{padding:0;}


/* footer */
footer.container { clear:both;padding-bottom:2em;background:url(/img/dark_texture.jpg) repeat;}
footer .fotter-div {margin:0 auto; width:900px;padding:2em 0 0;}
footer h4 { font-size:16px;text-transform:uppercase;letter-spacing:4px;margin-bottom:5px;}
footer p { margin: 0 0 10px 0; }
.footer-icon-list { list-style: none; margin: 0 0 20px 0; }
.footer-icon-list li a img { opacity: 0.8;float:left;margin-right:1em; }
.footer-icon-list li a:hover img { opacity: 1; }
footer .gtalk-div {clear:both}

.footer-col { width: 220px; float: left; margin-left: 25px; }
.fav { width: 332px; }
.networking { width: 275px; }
.powered-by {clear:both;font-size:0.8em;line-height:1.5em;padding:2em 0 0 2em;}
.powered-by .box {position:relative;text-align:left;}

#friend-list { list-style: none; margin: 0; }
#friend-list li { margin: 0 0 5px 0; }
#friend-list li a { display: block; padding: 2px 8px; background: rgba(0,0,0,0.4); color: #777; }
#friend-list li a:hover { background: rgb(0,0,0); background: rgba(0,0,0,0.1); color: white; }

/* Tweets */
#last-tweets { list-style: none; margin: 0; line-height:1em; }
#last-tweets li { margin: 0 0 5px 0; }
#last-tweets li a { display: block; padding: 5px; background: rgba(0,0,0,0.4); color: #777; }
#last-tweets li a:hover { background: rgb(0,0,0); background: rgba(0,0,0,0.1); color: white; }
