html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  background-color: #000;
  height: 100%; }

body {
  min-height: 100pt;
  background: transparent;
  font-family: 'Open Sans';
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  font-size: 12px;
  min-height: 100%; }

#hello {
  max-width: 460pt;
  min-width: 200pt;
  padding: 0 10pt;
  padding-top: 40pt;
  margin: 0 auto; }
  #hello > header {
    display: none; }
  #hello article.introduction {
    color: #000; }
    #hello article.introduction hgroup h1, #hello article.introduction hgroup h2, #hello article.introduction hgroup h3, #hello article.introduction hgroup h4, #hello article.introduction hgroup h5, #hello article.introduction hgroup h6 {
      letter-spacing: -1px;
      line-height: 40px;
      font-weight: 600;
      margin-bottom: 1px;
      font-size: 2em; }
      #hello article.introduction hgroup h1 span, #hello article.introduction hgroup h2 span, #hello article.introduction hgroup h3 span, #hello article.introduction hgroup h4 span, #hello article.introduction hgroup h5 span, #hello article.introduction hgroup h6 span {
        background-color: #ddd;
        display: inline-block;
        padding: 0 10px; }
    #hello article.introduction hgroup h2 {
      letter-spacing: -15px;
      line-height: 125px;
      font-size: 11em; }
      #hello article.introduction hgroup h2 span {
        padding: 0 30px 0 10px; }
    #hello article.introduction hgroup h3, #hello article.introduction hgroup h4 {
      letter-spacing: -2px;
      line-height: 50px;
      font-size: 3em;
      font-weight: 400 !important; }
    #hello article.introduction hgroup h5, #hello article.introduction hgroup h6 {
      font-weight: 300; }
    #hello article.introduction dl {
      letter-spacing: -1px;
      line-height: 40px;
      font-weight: 300;
      font-size: 2em; }
      #hello article.introduction dl dt {
        background-color: #ddd;
        display: inline-block;
        padding: 0 10px; }
      #hello article.introduction dl dd {
        position: relative;
        background-color: #ddd;
        display: inline-block;
        padding: 0 10px;
        margin-left: -4px; }
        #hello article.introduction dl dd ul {
          display: inline; }
          #hello article.introduction dl dd ul li {
            display: none;
            list-style: none;
            color: #222; }
          #hello article.introduction dl dd ul li.active {
            display: inline-block; }
          #hello article.introduction dl dd ul li.active-anim {
            color: #0ff;
            -webkit-transition: 250ms;
            -moz-transition: 250ms;
            transition: 250ms; }
    #hello article.introduction figure {
      display: none; }

html.transition {
  background-color: #fff;
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  transition-delay: 1s; }
  html.transition #hello article.introduction {
    color: #fff;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    transition: all 250ms linear; }
    html.transition #hello article.introduction hgroup h1 span, html.transition #hello article.introduction hgroup h2 span, html.transition #hello article.introduction hgroup h3 span, html.transition #hello article.introduction hgroup h4 span, html.transition #hello article.introduction hgroup h5 span, html.transition #hello article.introduction hgroup h6 span {
      background-color: #222;
      -webkit-transition: all 250ms linear;
      -moz-transition: all 250ms linear;
      -ms-transition: all 250ms linear;
      -o-transition: all 250ms linear;
      transition: all 250ms linear;
      -webkit-transition-delay: 1s;
      -moz-transition-delay: 1s;
      transition-delay: 1s; }
    html.transition #hello article.introduction dl dt, html.transition #hello article.introduction dl dd {
      background-color: #222;
      -webkit-transition: all 250ms linear;
      -moz-transition: all 250ms linear;
      -ms-transition: all 250ms linear;
      -o-transition: all 250ms linear;
      transition: all 250ms linear;
      -webkit-transition-delay: 1s;
      -moz-transition-delay: 1s;
      transition-delay: 1s; }

.socmed-links {
  margin-top: 100px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 10px; }
  .socmed-links a {
    color: white;
    text-decoration: none;
    font-size: 40px; }
  .socmed-links .effect-1 {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 1px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    background-color: #222;
    -webkit-transform: translateZ(0); }
    .socmed-links .effect-1.twitter:hover {
      background-color: rgba(0, 172, 238, 0.7); }
    .socmed-links .effect-1.github:hover {
      background-color: rgba(23, 21, 21, 0.7); }
    .socmed-links .effect-1.facebook:hover {
      background-color: rgba(59, 89, 152, 0.8); }
    .socmed-links .effect-1.linkedin:hover {
      background-color: rgba(14, 118, 168, 0.7); }
    .socmed-links .effect-1:hover {
      -webkit-transition: background-color 0.2s ;
      -moz-transition: background-color 0.2s ;
      -ms-transition: background-color 0.2s ;
      -o-transition: background-color 0.2s ;
      transition: background-color 0.2s ; }
      .socmed-links .effect-1:hover:after {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
        -webkit-transition: transform 0.2s ;
        -moz-transition: transform 0.2s ;
        -ms-transition: transform 0.2s ;
        -o-transition: transform 0.2s ;
        transition: transform 0.2s ; }
  .socmed-links .effect-1:after {
    position: absolute;
    top: -2px;
    left: -2px;
    content: '';
    height: 100%;
    width: 100%;
    padding: 2px;
    -webkit-box-shadow: 0 0 0 2px #222222;
    -moz-box-shadow: 0 0 0 2px #222222;
    box-shadow: 0 0 0 2px #222222;
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    -webkit-transition: -webkit-transform 0.2s ;
    -moz-transition: -webkit-transform 0.2s ;
    -ms-transition: -webkit-transform 0.2s ;
    -o-transition: -webkit-transform 0.2s ;
    transition: -webkit-transform 0.2s ; }
