html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  background-color: #000; }

body {
  min-height: 100pt;
  background: transparent;
  font-family: 'Open Sans';
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  font-size: 12px; }

#hello {
  max-width: 460pt;
  min-width: 200pt;
  padding: 0 10pt;
  padding-top: 40pt;
  margin: 0 auto; }
  #hello > header {
    display: none; }
  #hello article.introduction {
    color: #000; }
    #hello article.introduction hgroup h1, #hello article.introduction hgroup h2, #hello article.introduction hgroup h3, #hello article.introduction hgroup h4, #hello article.introduction hgroup h5, #hello article.introduction hgroup h6 {
      letter-spacing: -1px;
      line-height: 40px;
      font-weight: 600;
      margin-bottom: 1px;
      font-size: 2em; }
      #hello article.introduction hgroup h1 span, #hello article.introduction hgroup h2 span, #hello article.introduction hgroup h3 span, #hello article.introduction hgroup h4 span, #hello article.introduction hgroup h5 span, #hello article.introduction hgroup h6 span {
        background-color: #ddd;
        display: inline-block;
        padding: 0 10px; }
    #hello article.introduction hgroup h2 {
      letter-spacing: -15px;
      line-height: 125px;
      font-size: 11em; }
      #hello article.introduction hgroup h2 span {
        padding: 0 30px 0 10px; }
    #hello article.introduction hgroup h3, #hello article.introduction hgroup h4 {
      letter-spacing: -2px;
      line-height: 50px;
      font-size: 3em;
      font-weight: 400 !important; }
    #hello article.introduction hgroup h5, #hello article.introduction hgroup h6 {
      font-weight: 300; }
    #hello article.introduction dl {
      letter-spacing: -1px;
      line-height: 40px;
      font-weight: 300;
      font-size: 2em; }
      #hello article.introduction dl dt {
        background-color: #ddd;
        display: inline-block;
        padding: 0 10px; }
      #hello article.introduction dl dd {
        position: relative;
        background-color: #ddd;
        display: inline-block;
        padding: 0 10px;
        margin-left: -4px; }
        #hello article.introduction dl dd ul {
          display: inline; }
          #hello article.introduction dl dd ul li {
            display: none;
            list-style: none;
            color: #222; }
          #hello article.introduction dl dd ul li.active {
            display: inline-block; }
          #hello article.introduction dl dd ul li.active-anim {
            color: #0ff;
            -webkit-transition: 250ms;
            -moz-transition: 250ms;
            transition: 250ms; }
    #hello article.introduction figure {
      display: none; }

html.transition {
  background-color: #fff;
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  transition-delay: 1s; }
  html.transition #hello article.introduction {
    color: #fff;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    transition: all 250ms linear; }
    html.transition #hello article.introduction hgroup h1 span, html.transition #hello article.introduction hgroup h2 span, html.transition #hello article.introduction hgroup h3 span, html.transition #hello article.introduction hgroup h4 span, html.transition #hello article.introduction hgroup h5 span, html.transition #hello article.introduction hgroup h6 span {
      background-color: #222;
      -webkit-transition: all 250ms linear;
      -moz-transition: all 250ms linear;
      -ms-transition: all 250ms linear;
      -o-transition: all 250ms linear;
      transition: all 250ms linear;
      -webkit-transition-delay: 1s;
      -moz-transition-delay: 1s;
      transition-delay: 1s; }
    html.transition #hello article.introduction dl dt, html.transition #hello article.introduction dl dd {
      background-color: #222;
      -webkit-transition: all 250ms linear;
      -moz-transition: all 250ms linear;
      -ms-transition: all 250ms linear;
      -o-transition: all 250ms linear;
      transition: all 250ms linear;
      -webkit-transition-delay: 1s;
      -moz-transition-delay: 1s;
      transition-delay: 1s; }
