<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<title>{{ page.title | strip_html }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/css/undohtml.css" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/css/main.css">
{% if page.description %}
<meta name="description" content="{{ page.description | xml_escape }}">
{% endif %}
<meta name="author" content="Moises Trovo &lt;moises.trovo@gmail.com&gt;">
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<link rel="icon" href="/favicon.ico">
{% if page.styles %}
<style type="text/css" media="screen">{{ page.styles }}</style>
{% endif %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" >
   function callback_twitter(json, status){
     var str = json[0].text;
     $("#lasttweet").html(str);
   }
   $(function(){
    $.getJSON("http://twitter.com/statuses/user_timeline/mtrovo.json?count=5&callback=?", "", callback_twitter);
   });
</script>

</head>
<body>
<div id="header"><div class="inner">
	
	<h1 id="logo"><a title="click here to return to the homepage" href="/">MTROVO</a></h1>
	
	<ul id="nav"><li><a href="/overview.php" class="">Overview</a></li><li><a href="/documentation.php" class="">Documentation</a></li><li><a href="/demo.php" class="">Demo</a></li><li><a href="/license.php" class="">License</a></li><li><a href="http://grakalic.com" target="_blank" class="external">Author</a></li><li><a href="/contact.php" class="">Contact</a></li></ul>	
	
</div></div>
<div id="container">
<div id="infinitum">
  <p><strong>Navigation<br />
    </strong><a href="#">Home</a></p>
  <p><a href="#">Colophon</a></p>
  <p><a href="#">Photography</a></p>
  <p><a href="#">Portfolio</a></p>
  <p><a href="#">Contact</a><strong><br />
      <br />
      Last Status</strong><br />
  </p>
  <span id="lasttweet"></span>
  <p>&nbsp;</p>
  <p><strong>Monthly Archives</strong></p>
  <p><a href="#">June 2005 <br />
      May 2005</a></p>
  <p><a href="#">April 2005</a></p>
  <p><a href="#">March 2005</a></p>
  <p> <strong><br />
      Categories</strong></p>
  <p><a href="#">Discussion</a></p>
  <p><a href="#">Jokes</a></p>
  <p><a href="#">Typography</a></p>
  <p><a href="#">Design</a></p>
  <p><a href="#">CSS</a></p>
  <p><a href="#">XHTML</a></p>
  <p><a href="#">Politics</a></p>
  <p>&nbsp;</p>
  <p><strong>Feeds</strong></p>
  <p><a href="#">RSS</a></p>
  <p><a href="#">Atom</a></p>
  <p>&nbsp;</p>
  <p><strong>Validation</strong></p>
  <p><a href="http://validator.w3.org/check?uri=referer" target="_blank">Valid 
    XHTML</a> </p>
  <p><a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">Valid 
      CSS</a>
    </p>
  <p>&nbsp;</p>
  <p><strong>Disclaimers</strong></p>
  <p>&copy; Your Name Here</p>
  <p><a href="http://smallpark.org">Design by Smallpark</a></p>
  <p>&nbsp;</p>
</div>

<div id="mightylinks"> 
 <p><strong> I like linking to people</strong></p>
<ul>
<li><a href="#">Mandatory CSS-SSC Update</a> <br />
Suspendisse eu mauris. Pellentesque auctor. Fusce eu massa.  </li>
<li><a href="#">Latest Macdonald's theft</a> <br />
  In lacinia magna in purus.
          
</li>
<li><a href="#">I like burgers </a> <br />
  In lacinia magna in purus.
          
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egesta.</li>
<li><a href="#">Bob's going to College! </a> <br />
  Torbi rutrum, nisi in ultricies tristique, diam velit convallis nisi, ut ornare mi.</li>
<li><a href="#">Eating causes obesity. </a><br />
  Fusce pellentesque turpis a mauris dapibus euismod. Donec nec eros iaculis augue malesuada consequat.
            
Morbi rutrum, nisi in ultricies <br />
      <strong><br />
      </strong><a href="#">View the  Archive &gt;</a> </li>
</ul>
</div>

<div class="text">
{{ content }}
</div>
<footer class="container">
    
    <div class="footer-col fwend">
    
        <h4>Be My Fwend</h4>
        
        <p>The ones I actually use:</p>
                    
        <ul class="footer-icon-list">
            <li><a href="http://delicious.com/chriscoyier"><img alt="Delicious" src="http://chriscoyier.net/wp-content/themes/ChrisCoyierTheme4/images/delicious_32.png"></a></li>
            <li><a href="http://twitter.com/chriscoyier"><img alt="Twitter" src="http://chriscoyier.net/wp-content/themes/ChrisCoyierTheme4/images/twitter_32.png"></a></li>
            <li><a href="http://www.flickr.com/photos/chriscoyier"><img alt="Flickr" src="http://chriscoyier.net/wp-content/themes/ChrisCoyierTheme4/images/flickr_32.png"></a></li>
        </ul>
        
        <h4>Powered By</h4>
        
        <p>100% <a href="http://wordpress.com">WordPress baby</a>, with a theme I crafted with my brain, fingers, and the internet.</p>
    
    </div>
    
     <div class="footer-col">
    
        <h4>People I Enjoy</h4>
        
        <ul id="friend-list">
            <li><a href="http://fastfoodreviewed.com">Jesse Lynch</a></li>
            <li><a href="http://jeffcampana.com">Jeff Campana</a></li>
            <li><a href="http://leahshea.com/">Leah Shea</a></li>
            <li><a href="http://davidwalsh.name/">David Walsh</a></li>
            <li><a href="http://accidentalninja.net/">Richard Felix Jr.</a></li>
            <li><a href="http://perishablepress.com">Jeff Starr</a></li>
            <li><a href="http://thestrategicretreat.com/">Jeff Penman</a></li>
        </ul>
    
    </div>
    
    <div class="footer-col last fav">
    
        <h4>Favorite Tweets</h4>
        
        <p>I use the tweeter <a href="http://twitter.com/chriscoyier">myself</a>, but these tweets? 
        These are the good ones.</p>
        
                            
        <ul id="fav-tweets">
                                            <li>
                        <a href="http://twitter.com/beep/statuses/9433613334">beep: Fully half of the seats by the gate are occupied by Legos.</a>
                    </li>
                                            <li>
                        <a href="http://twitter.com/snipeyhead/statuses/9400537324">snipeyhead: Would Apple's move in removing the iBoob app from the app store be called an Appstectomy?</a>
                    </li>
                                            <li>
                        <a href="http://twitter.com/badowski/statuses/9337828774">badowski: Is there an official count as to how many times people get punched in the face in #LOST?</a>
                    </li>
                                </ul>
    
    </div>
    
</footer>
</div>

   
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12417205-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>