<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<title>{{ page.title | strip_html }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/css/undohtml.css" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
{% if page.description %}
<meta name="description" content="{{ page.description | xml_escape }}" />
{% endif %}
<meta name="author" content="Moises Trovo &lt;moises.trovo@gmail.com&gt;" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
<link rel="icon" href="/favicon.ico" />
{% if page.styles %}
<style type="text/css" media="screen">{{ page.styles }}</style>
{% endif %}
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" >
   function callback_twitter(json, status){
     var div = $("#last-tweets");
     var str = $(json).each(function(i, t){
       $("<a><\/a>",{text: t.text, href: "http://twitter.com/" + t.user.screen_name + "/status/" + t.id}).wrap("<li><\/li>").parents().appendTo(div);
     });
   }
   $(function(){
    $.getJSON("http://twitter.com/statuses/user_timeline/mtrovo.json?count=10&callback=?", "", callback_twitter);
   });
</script>

</head>
<body>
<div id="header"><div class="inner">
	
	<h1 id="logo"><a title="click here to return to the homepage" href="/"></a></h1>
	
	<ul id="nav"><li><a href="#" class="/index.html">Home</a></li><li><a href="/blog.html" class="">Blog</a></li><li><a href="#" class="/projects.html">Projects</a></li><li><a href="http://github.com/mtrovo" class="">GitHub</a></li><li><a href="/about.html">About</a></li><li><a href="/contact.html" class="">Contact</a></li></ul>	
	
</div></div>
<div id="container">
<div id="infinitum">
  <p><strong>Navigation<br />
    </strong><a href="#">Home</a></p>
  <p><a href="#">Colophon</a></p>
  <p><a href="#">Photography</a></p>
  <p><a href="#">Portfolio</a></p>
  <p><a href="#">Contact</a><strong><br />
      <br />
      Last Status</strong><br />
  </p>
  <span id="lasttweet"></span>
  <p>&nbsp;</p>
  <p><strong>Monthly Archives</strong></p>
  <p><a href="#">June 2005 <br />
      May 2005</a></p>
  <p><a href="#">April 2005</a></p>
  <p><a href="#">March 2005</a></p>
  <p> <strong><br />
      Categories</strong></p>
  <p><a href="#">Discussion</a></p>
  <p><a href="#">Jokes</a></p>
  <p><a href="#">Typography</a></p>
  <p><a href="#">Design</a></p>
  <p><a href="#">CSS</a></p>
  <p><a href="#">XHTML</a></p>
  <p><a href="#">Politics</a></p>
  <p>&nbsp;</p>
  <p><strong>Feeds</strong></p>
  <p><a href="#">RSS</a></p>
  <p><a href="#">Atom</a></p>
  <p>&nbsp;</p>
  <p><strong>Validation</strong></p>
  <p><a href="http://validator.w3.org/check?uri=referer" target="_blank">Valid 
    XHTML</a> </p>
  <p><a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">Valid 
      CSS</a>
    </p>
  <p>&nbsp;</p>
  <p><strong>Disclaimers</strong></p>
  <p>&copy; Your Name Here</p>
  <p><a href="http://smallpark.org">Design by Smallpark</a></p>
  <p>&nbsp;</p>
</div>

<div id="mightylinks"> 
 <p><strong> I like linking to people</strong></p>
<ul>
<li><a href="#">Mandatory CSS-SSC Update</a> <br />
Suspendisse eu mauris. Pellentesque auctor. Fusce eu massa.  </li>
<li><a href="#">Latest Macdonald's theft</a> <br />
  In lacinia magna in purus.
          
</li>
<li><a href="#">I like burgers </a> <br />
  In lacinia magna in purus.
          
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egesta.</li>
<li><a href="#">Bob's going to College! </a> <br />
  Torbi rutrum, nisi in ultricies tristique, diam velit convallis nisi, ut ornare mi.</li>
<li><a href="#">Eating causes obesity. </a><br />
  Fusce pellentesque turpis a mauris dapibus euismod. Donec nec eros iaculis augue malesuada consequat.
            
Morbi rutrum, nisi in ultricies <br />
      <strong><br />
      </strong><a href="#">View the  Archive &gt;</a> </li>
</ul>
</div>

<div class="text">
{{ content }}
</div>
</div>
<footer class="container">
    <div class="fotter-div">
    <div class="footer-col networking">
    
        <h4>Networking</h4>
        <p> Liked me or my work? Do you have a question or need a job done? Feel free to use one of the following networks to contact me.</p>
        <ul class="footer-icon-list">
            <li><a href="http://linkedin.com/mtrovo"><img alt="LinkedIn" src="/img/linkedin_32.png"/></a></li>
            <li><a href="mailto:moises.trovo@gmail.com" title="Email"><img alt="Google Talk" src="/img/googletalk_32.png"/></a></li>
            <li><a href="http://facebook.com/mtrovo"><img alt="Facebook" src="img/facebook_32.png"/></a></li>
            <li><a href="http://twitter.com/mtrovo"><img alt="Twitter" src="/img/twitter_32.png"/></a></li>
        </ul>
        <div class="gtalk-div">
        <img style="border: medium none ; margin: 0pt; padding: 0pt 2px 0pt 0pt;" src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqajsusa4k8dl7s1nndbkhdv555f9j169dcm9nnl89p3sg1hju1ul7dm290btbclqjboc79scfnfl148egsq1fir1f12i889pn8nih19ke1ck50jdsj0mfrqeklbl4o432h3mot2irr7bpgjskq0cmtqqsn32a8mkmbvj9osok9r4fo6620irs7i7mgj87i0ab7peligmdaqsdkseiiug0&amp;w=9&amp;h=9" alt="" height="9" width="9" /><a href="http://www.google.com/talk/service/badge/Start?tk=z01q6amlqajsusa4k8dl7s1nndbkhdv555f9j169dcm9nnl89p3sg1hju1ul7dm290btbclqjboc79scfnfl148egsq1fir1f12i889pn8nih19ke1ck50jdsj0mfrqeklbl4o432h3mot2irr7bpgjskq0cmtqqsn32a8mkmbvj9osok9r4fo6620irs7i7mgj87i0ab7peligmdaqsdkseiiug0" target="_blank" title="Click here to chat with Moises Trovo">Contact me on Google Talk</a>
        </div>
     </div>
    
    <div class="footer-col last fav">
    
        <h4>Last Tweets</h4>
        
        <ul id="last-tweets"></ul>
    
    </div>
    <div class="powered-by">
        <p>This site is built using the <a href="http://github.com/mojombo/jekyll">Jekyll</a> library and hosted on <a href="http://github.com/">GitHub</a>. The source code used to create this web site is <a href="http://github.com/mtrovo/mtrovo.github.com">publicly available</a> on GitHub as well.</p>
        <p class="box">
            
  				    <a href="http://creativecommons.org/licenses/by/3.0/" rel="license"><img width="88" height="31" style="float:left;margin-right:1em;" alt="Creative Commons License" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
  Except where otherwise <a href="/policies#license" class="subfoot">noted</a>, content on this site is<br />
  licensed under a <a class="subfoot" href="http://creativecommons.org/licenses/by/3.0/" rel="license">Creative Commons Attribution 3.0 License</a>
            
  			  </p>
    </div>
    </div>
</footer>
   
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12417205-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
